{template "content","header"}
  <div class="container">
    {pc:content action="category" catid="$catid" num="10" siteid="$siteid" order="listorder ASC"}  
      
    {loop $data $r}
    <div class="row cate_blog">

      <h3 class="tally">{$r[catname]}</h3>
      <ul>
      {pc:content  action="lists" catid="$r[catid]" order="id DESC" num="4" moreinfo="1"}  
      {loop $data $rr}
        <li><div><a href="{$rr[url]}">{$rr[title]}</a><!-- <div class="info"><span class="author">作者:{$rr[author]}</span><span class="time">{date('Y-m-d H:i:s' ,$rr[inputtime])}</span></div> --></div></li>
      {/loop}
      {/pc}
      </ul>
      <a href="{$r[url]}" class="readmore">Read&nbsp;More++</a>
    </div>
    {/loop}
    {/pc}
  </div>
  


{template "content","footer"}
