
{template "content","header"}
		<style>
			/* body{background:url('/blog/style/five/images/app/3s.png') no-repeat center;background-size:100% 100%;} */
		</style>
    <div class="banner">
			<script src="/blog/style/five/js/d/slide_12.js?v0.1" type="text/javascript"></script>
    </div>
    
    <div class="main_box main_box_style">
			<div class="main_box_inner">
				<!--栏目展示 -->
{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC" }
	{loop $data $r}   
		{if $r[catid] == 7 || $r[catid] == 8 || $r[catid] == 9 }
			<!-- 
				设置背景图片 设置模块的id为'column_[栏目id]'
				通用设置 文章栏目class为'column_article' 
			-->
			<div id="column_{$r[catid]}" class="module_box column_article" >
				<div class="module_box_inner">
					<div class="module_title">
						<span class="module_sign">
							<div>{$r[catname]}</div>
						</span>
						<span class="module_more"></span>
					</div>
					<div  class="module_content module_content_introduct">
						<div class="sy_news">
							<div class="container">
								<ul class="row column_list" >
								{pc:content action="lists" catid="$r[catid]" num="8" siteid="$siteid" order="listorder ASC" moreinfo="1"}
								{loop $data $rr}
									<li>
										
										<div class="row" style="margin-left:0;margin-right:0;">
											<div class="con">
												<a class="title" href="{$rr[url]}">{$rr[title]}</a>&nbsp;&nbsp;<span class="author">{$rr[author]}</span>&nbsp;&nbsp;<a class="tally" href="{$CATEGORYS[$rr[catid]][url]}">{$CATEGORYS[$rr[catid]][catname]}</a>
												<div class="introduct">{$rr[description]}...</div>
											</div>
										</div>
									</li>
								{/loop}
								{/pc}
								</ul>
							</div>
							<a href="{$CATEGORYS[$r[catid]][url]}" class="mored">查看更多</a>
						</div>

					</div>
				</div>
				<div class="module_footer"><span class="l"></span><span class="r"></span></div>
			</div>

		{/if}
	{/loop} 
{/pc}
       

        
        <!-- 联系我们 -->
        <div id="module_277" class="module_box">
					<div class="module_box_inner">
						<div class="module_title"><span class="module_sign"><div>联系我们</div><div class="module-title-content"><i class="mark-left"></i><div class="th_tits">CONTACT US</div><i class="mark-right"></i></div></span>
							<span class="module_more"></span>
						</div>
						<div id="module_content_277" class="module_content module_content_introduct">

							<div class="sy_conatact">
								<div class="sc_fs">
									<span>电话：010-222222222</span>
									<span>邮箱：22222222@qq.com </span>
									<span>地址：北京市</span>
								</div>
							</div>

						</div>
						<div class="module_footer"><span class="l"></span><span class="r"></span></div>
					</div>
				</div>



			</div>
			<div class="clear main_box_inner_bottom"></div>
		</div>

{template "content","footer"}